{% extends 'base.html' %}
{% load static %}
{% block titulo %}Esta es la pagina de inicio{% endblock  %}

{% block archivos_css %}
    <link rel="stylesheet" href="{% static 'Tienda/index.css' %}">
{% endblock  %}
{% block contenido %}
    <body>
        <br>
        <div class='row'>
            <div class='col-12'>
                <h1 class="display-2 text-center text-success">Tienda Online</h1>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class='row'>
            <div class='col-12'>
                <h1 class="display-6 text-center text-success">Ofertas</h1>
            </div>
        </div>
        <br>
        <div class='container'>
            <div class='row'>
                <div class='col-4'>Oferta</div>
                <div class='col-4'>Oferta</div>
                <div class='col-4'>Oferta</div>
            </div>
        </div>
    </body>
{% endblock  %}

 